## .NET / C#
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Build results
[Dd]ebugPublic/
[Rr]eleases/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

## User-specific files
*.suo
*.user
*.env

## OS files
.DS_Store
Thumbs.db
